body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 240, 240);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px 5px rgba(240, 128, 128, 0.5);
  background-color: lighten(lightcoral, 20%);
  transition-duration: 1s;

  h1 {
    font-size: 2.5rem;

    a {
      display: flex;
      color: lightcoral;
      align-items: center;
      gap: 4px;
    }

    span {
      display: block;
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 16px;

    li {
      a {
        color: lightcoral;

        &:hover {
          text-decoration: overline;
        }
      }
    }
  }
}
