@use 'utilities';

@font-face {
  font-family: 'letters-for-learners';
  src: url('../fonts/letters_for_learners-webfont.woff2') format('woff2'),
    url('../fonts/letters_for_learners-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../images/bg-blur.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

ul {
  padding: 0;
}

button {
  @extend %reset-appearance;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#main {
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: letters-for-learners;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px 5px rgba(240, 128, 128, 0.5);
  background-color: lighten(lightcoral, 20%);

  h1 {
    font-size: 2.5rem;

    a {
      display: flex;
      color: lightcoral;
      align-items: center;
      gap: 4px;
    }

    span {
      display: block;
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 16px;

    li {
      a {
        color: lightcoral;

        &:hover {
          text-decoration: overline;
        }
      }
    }
  }
}

#home-hero {
  margin-top: 25vh;
}

#shop {
  width: 75%;
  margin: 16px auto;
}

#emoji-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 8px;
  justify-content: center;
}

.emoji-card {
  border: 1px solid grey;
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.65);
  font-size: 5rem;

  &:hover {
    background-color: rgba(255, 255, 255, 0.85);
  }
}

.emoji-detail {
  background-color: white;
  height: fit-content;
  width: 25vw;
  min-height: 25vw;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 32px;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emoji-not-found {
  margin-top: 25vh;
}

button.add-to-cart {
  background-color: lightgreen;
  padding: 8px 24px;
  border-radius: 999px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;

  &:hover,
  &:focus {
    background-color: darken(lightgreen, 10%);
  }

  svg {
    transform: rotate(20deg);
    font-size: 1.5em;
  }
}

.product-counter {
  button {
    background-color: lightgrey;
    color: white;

    &:hover,
    &:focus {
      background-color: grey;
    }
  }
}

@media (max-width: 1180px) {
}

@media (max-width: 768px) {
  .emoji-detail {
    width: 50vw;
    min-height: 50vw;
  }
}

@media (max-width: 576px) {
  nav {
    flex-direction: column;
    padding: 16px 0 12px 0;
  }

  .add-to-cart-container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 12px;

    .product-counter {
      margin-left: unset;
    }
  }
}
